<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="Post" action="/monespace/traitecommande">
  {% csrf_token %}
  <div class="mb-3">
    <input type="number" name="qt"  id="quantite">
  </div>
  <div class="mb-3">
    <input type="text" name="idpro" value="{{idpro}} ">
  </div>
  <div class="mb-3">
    <input type="text" name="idclt" value="{{ idclt }}">
  </div>
  <button class="btn btn-primary" type="submit">Envoyer</button>
</form>

</body>
</html>