<!DOCTYPE html>
<html>
<head>
    <title>Tableau avec boucle for</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h1>Liste des notification  {{ noment |upper }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nom du client</th>
                <th>Compte client</th>
                <th>Annuler</th>
                <th>Valider</th>
            </tr>
        </thead>
        <tbody>
            {% for usercre in usercre %}
                <tr>
                    <td>{{ usercre.nomclt }}</td>
                    <td><a href="{{ usercre.lien_compte }}">visiter compte</a></td>
                    <td><a href="#"  class="text-sucess"><i class="fas fa-times"></i></a></td>
                    <td><a href="#"  class="text-danger"><i class="fas fa-check"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
